.name
{
    font-family:'Courier New', Courier, monospace;
    padding:20px;
    text-align: center;
}

img
{
    border-color: rgb(247, 30, 30);
    padding-top:0px;
    padding-left: 00px;
    margin-bottom:0px;
    background-color: aqua;
    border-radius: 50px;
    margin-left:200px;
}

h2{
    
    text-align: center;
    margin-top: 50px;
}

h2,
p{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}