.name
{
    font-family:'Courier New', Courier, monospace;
    padding:20px;
    text-align: center;
}

h2{
    
    text-align: center;
    margin-top: 50px;
}

ul,
ol,
h2,
p{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#apple-pie
{
    background-color:rgb(112, 3, 3);
    color:rgb(249, 177, 177);
}

#banana-oatmeal
{
    background-color:rgb(90, 69, 13);
    color:rgb(255, 227, 170);
}

#jeffs-hotdog
{
    background-color:rgb(61, 38, 9);
    color:rgb(255, 243, 212);
}